@import "font.scss";
@import "animation.scss";
$console-background-color: #222;
$console-font-color: #ccc;
$console-line-height: 24px;
$console-font-size: 18px;
$console-command-indent: 18px;

@mixin console-line-layout {
  border: none;
  font-family: "RictyDiminished";
  font-size: $console-font-size;
  line-height: $console-line-height;
  min-height: $console-line-height;
  word-break: break-all;
  word-wrap: break-word;
  width: 100%;
}

@mixin console-command-layout {
  @include console-line-layout;
  text-indent: $console-command-indent;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $console-background-color;
}

#scroll-area {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#console {
  cursor: text;
  margin: 32px;
  position: relative;
  color: $console-font-color;

  p {
    @include console-line-layout;
  }

  .command {
    @include console-command-layout;
    position: relative;

    &::before {
      content: "$ ";
      text-indent: 0;
      position: absolute;
      left: 0;
    }

    &:last-of-type {
      background-color: $console-background-color;
      position: relative;
      z-index: 1;

      &::after {
        text-indent: 0;
        content: "_";
        position: absolute;
        animation: blink 1s step-end infinite;
      }
    }
  }
}

#caret-checker {
  @include console-command-layout;
  position: absolute;
  left: -10000px;
}

#input-line {
  @include console-command-layout;
  height: $console-line-height;
  outline: none;
  overflow-y: auto;
  resize: none;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
